
        * {
    box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;

}

/* Four equal columns */
.column1 {

  float:left;
  padding-top: 10px;
  width:50%;

}


.column2 {
   padding-top: 50px;
  overflow:hidden;
  width:50%;
  border-radius:40px;
  optacity:20%;

}


.company{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
  width: 75%;
  font-style: oblique;
  color: white;
  font-size:100px;

  }

  .img-rounded{
  margin-top:10px;
  width:180px;
  height:180px;
  margin-left:5%;

  }


 body{
    height: 100%;
	width: 100%;
	background: url("/static/ampius_bg2.png") no-repeat fixed;
	background-position: center;
	background-size: cover;
	position: absolute;
}


.container {
    height: 100%;
    justify-content: center;
    align-items: center;
}
#map {
        width: 80%;
        height:400px;
        margin-left:75px;
        background-color:white;
        border:2px solid black;
      }




.form-group{padding-left:10%;
        padding-right:10%;

}

.btn{

      margin-left: 75%;
    margin-right: auto%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 8px;
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 100px;
    margin-bottom: 25px;
    background: rgb(34,139,34);


    transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s
}



.btn-animate {
    margin-left: 25%;
    margin-right: auto%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: rgb(60, 179, 113)
    padding-top: 8px;
    width: 50%;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin-top: 23px;
    background: rgb(34,139,34);


    transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s
}

.draw-note{
margin-left:20%;
margin-right:auto;
}
#cords{
visibility:hidden;
}

#polygonarea{
visibility:hidden;
}


.calculation-box {
visibility:hidden;
height: 75px;
width: 150px;
position: absolute;
bottom: 40px;
left:10px;
background-color: rgba(255, 255, 255, 0.9);
padding: 15px;
text-align: center;
}

 .mb-3{
 font-size:100px;
 }
 .mb-4{
 font-style: oblique;color: white;
 }

@media only screen and (max-width: 600px) {
  body {
    background: #20C238;
  }
  .wrapper {

  overflow:hidden;
}

    .wrapper div {

       padding: 5px;
    }
    .column1 {
     width:100%;
    }
    .column2 {
    width:100%;
    padding-top:20px;

    }

    .img-rounded{
  width:80px;
  height:80px;
   margin-top:5%;
    margin-left:5%;
    margin-right:auto;
  }

  .company{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
  width: 90%;
  font-style: oblique;
  color: white;
  font-size:40px;
}
 .mb-3{
 font-size:30px;
 }
 .mb-4{
 font-size:20px;
 }


 #map {
        width: 80%;
        height:200px;
        margin-left:auto;
        margin-right:auto;
        background-color:white;
        border:2px solid black;
      }

      .btn{

      margin-left: 60%;
    margin-right: auto%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    color: white;
    padding-top: 10px;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 100px;
    margin-bottom: 25px;
    background: rgb(34,139,34);


    transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s
}

      .btn-animate {
    margin-left: 25%;
    margin-right: auto%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: rgb(60, 179, 113)
    padding-top: 8px;
    width: 50%;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin-top: 23px;
    background: rgb(34,139,34);


    transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s
}
}

