
        body{
    height: 100%;
	width: 100%;
	background: url("/static/ampius_bg2.png") no-repeat fixed;
	background-position: center;
	background-size: cover;
	position: absolute;
}

.wrapper {

  overflow:hidden;
}

.wrapper div {

   padding: 10px;
}
#one {

  float:left;

  width:50%;

}
#two {
  padding-top: 50px;
  overflow:hidden;
  width:50%;
}

.btn-animate {
    margin-left: auto%;
    margin-right: auto%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: rgb(60, 179, 113)
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 10px;
    margin-top: 23px;
    background: rgb(34,139,34);


    transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s
}




.login-page{
	background: #f6f6f6;  /* fallback for old browsers\
	background: -webkit-linear-gradient(to bottom, #2399f4, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6
	background: linear-gradient(to bottom, #2399f4, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	min-height:450px;
	position:relative;
	display:inline-flex;
	width:100%;
}
.log-box{
	border-radius:10px;
	min-height:400px;
	box-shadow:0px 0px 10px #ccc;
	display:inline-block;
	width:100%;
}

.log-content{
	padding:20px 20px 0px;
	display:inline-block;
	width:100%;
	background-color:#fff;

	border-radius:0px 10px 10px 0px;
}
.myr-top{
	margin-top:0px;
}
.log-content .log-body{
	margin-top:20px;
}
.log-content label{
	margin:0px;
	font-family:Poppins-R;
	font-size:14px;
	display:none;
}
.log-content .custom{
	border-bottom:1px solid #000;
	padding:10px 10px 10px 0px
}

.company{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
  width: 75%;
  font-style: oblique;
  color: white;
  font-size:100px;

  }

  .img-rounded{
  width:180px;
  height:180px;
  }

.mb-3{
 font-size:100px;
 }
 .mb-4{
 font-style: oblique;color: white;
 }


<!-- .mb-3{-->
<!-- font-size:100px;-->
<!-- color: white;-->
<!-- font-style: oblique;-->
<!-- }-->
<!-- .mb-4{-->
<!-- font-style: oblique;-->
<!-- color: white;-->
<!-- }-->


@media only screen and (max-width: 600px) {
  body {
    background: #20C238;
  }
  .wrapper {

  overflow:hidden;
}

    .wrapper div {

       padding: 5px;
    }
    #one {
     width:100%;
    }
    #two {
    width:100%;
    padding-top:20px;


    }

    .img-rounded{
  width:80px;
  height:80px;
   margin-top:5%;
    margin-left:5%;
    margin-right:auto;
  }

  .company{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
  width: 90%;
  font-style: oblique;
  color: white;
  font-size:40px;
}
 .mb-3{
 font-size:30px;
 }
 .mb-4{
 font-size:20px;
 }
}

